@tailwind base;
@tailwind components;
@tailwind utilities;


bg-shape1 {
    width: 400px;
    height: 400px;
    border-radius: 9999px;
    position: relative;
    animation: one 10s infinite;
}

bg-shape2 {
    width: 300px;
    height: 300px;
    border-radius: 9999px;
    position: relative;
    animation: two 10s infinite;
}

bg-shape3 {
    width: 400px;
    height: 400px;
    border-radius: 9999px;
    position: relative;
    animation: one 10s infinite;
}



@keyframes one {
    0% {left: 0px; top: 0px;}
    25% {left: -100px; top: 70px;}
    50% {left: 20px; top: 150px;}
    75% {left: 50px; top: 100px;}
    100% {left: 0px; top: 0px;}
}


@keyframes two {
    0% {left: 0px; top: 0px;}
    25% {left: 50px; top: 10px;}
    50% {left: 100px; top: 50px;}
    75% {left: 50px; top: 100px;}
    100% {left: 0px; top: 0px;}
}

bg-blur {
    filter: blur(90px);
}